body {
    margin: 2%;
    margin-top: 1%;
}

#canvas {
    height: 400px;
}

#editor {
    height: 170px;
}

.highlight-overlay {
    background-color: #dc3545;
    opacity: 0.4;
    pointer-events: none;
}

.highlight-dropzone {
    border-color: #007bff;
    border-style: solid;
    border-width: 2px;
}

#drop_zone {
    height: 200px;
}

#dragFileName {
    margin-top: 70px;
}