body {
    margin: 2%;
    margin-top: 1%;
}

#canvas {
    height: 400px;
}

#editor {
    height: 170px;
}

.highlight-overlay {
    background-color: red;
    opacity: 0.4;
    pointer-events: none;
}