body {
    font-family: 'Kanit', sans-serif;
}

#header {
    border-radius: 0px;
    background-image: url("/images/bg-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#demo {
    margin: 0px;
    max-width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#donate {
    padding-top: 100px;
    padding-bottom: 100px;
}

#doc-buttons {
    background-image: url("/images/bg-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 200px;
}

#how-to-banner {
    background-image: url("/images/bg-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 200px;
}

#donate-banner {
    background-image: url("/images/bg-6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
}

#automation-banner {
    background-image: url("/images/bg-4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 200px;
}

#kb-banner {
    background-image: url("/images/bg-5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 200px;
}

#footer {
    border-radius: 0px;
    margin-bottom: 0px;
}

.roadmap-card {
    border-width: 0px;
}

.tech-card {
    height: 50%;
}

.download-card {
    border-width: 0px;
}

.platform-icon {
    width: 20%;
}

.instructions-card {
    border-width: 0px;
}

.bpmn-warning {
    padding: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    width: 100%;
    text-align: left;
}

#canvas {
    height: 400px;
}

#editor {
    height: 170px;
}

.highlight-overlay {
    background-color: rgba(220, 53, 69, 0.5);
}

.highlight-dropzone {
    border-color: #007bff;
    border-style: solid;
    border-width: 1px;
    color: #fff !important;
    background-color: #007bff;
}

#drop_zone {
    height: 200px;
    border-color: #007bff;
}

#dragFileName {
    margin-top: 60px;
    color: #007bff !important;
}

.highlight-dropzone-text {
    color: #fff !important;
}

#zoombuttons {
    margin-top: 0px;
}

#workzone {
    margin-top: 0px;
}

.highlight-overlay .tiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: #dc3545;
    border: 1px solid #dc3545;
    border-radius: .25rem;
    text-align: center;
    padding: 5px;
    position: absolute;
    top: -5px;
    left: 105%;
    z-index: 1;
}

.highlight-overlay:hover .tiptext {
    visibility: visible;
}

#samplesForm {
    margin-top: 1%;
}

#samplesTip {
    margin-top: 1%;
}

#extra-tip {
    margin-top: 0px;
}

.hbtn {
    margin-top: 3px;
}

.recent-item {
    word-wrap: break-word;
}

#recent-models {
    margin-bottom: 10px;
    overflow: scroll;
    height: 350px;
}

#recent-header {
    margin-top: 5px;
}