body {
    font-family: 'Kanit', sans-serif;
}

#header {
    border-radius: 0px;
    background-image: url("../images/bg-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#footer {
    border-radius: 0px;
    margin-bottom: 0px;
}